nav a {
border: 2px solid red;
  padding: 10px;
   background: yellow;
    color:black;
     text-decoration: none;
      border-radius: 25px;
       justify-conntent: space-between;
}

nav a:hover {
border: 2px solid red;
  padding: 10px;
   background: black;
    color: yellow;
     text-decoration: none;
      border-radius: 25px;
}

nav a.large {
padding: 30px;
font-size: 15px;
}
