li a.yellow {
padding: 10px;
color:black;
text-decoration: none;
border-radius: 25px;
justify-conntent: space-between;
font-weight: bold;
}

li a.blue {
padding: 10px;
color:black;
text-decoration: none;
border-radius: 25px;
justify-conntent: space-between;
font-weight: bold;
}

li a.black {
padding: 10px;
color:black;
text-decoration: none;
border-radius: 25px;
justify-conntent: space-between;
font-weight: bold;
}

li a:hover {
padding: 10px;
background: black;
color: yellow;
text-decoration: none;
border-radius: 25px;
font-weight: bold;
transition:1s linear;
box-shadow: 0 4px 4px 4px black;
}

nav a.large {
padding: 30px;
font-size: 15px;
}
